# Instalation of libraries

In [1]:
import pandas as pd
import os

# read the csv file and creation of data frame

In [4]:
# using the os library references the current folder
cwd = os.getcwd()
df = pd.read_csv(f'{cwd}/public_emdat_project.csv', sep=",", encoding="ANSI")

# chceck few first rows

In [5]:
print(df.head())

          DisNo. Historic Classification Key Disaster Group Disaster Subgroup  \
0  1999-9388-DJI       No    nat-cli-dro-dro        Natural    Climatological
1  1999-9388-SDN       No    nat-cli-dro-dro        Natural    Climatological
2  1999-9388-SOM       No    nat-cli-dro-dro        Natural    Climatological
3  2000-0001-AGO       No    tec-tra-roa-roa  Technological         Transport
4  2000-0002-AGO       No    nat-hyd-flo-riv        Natural      Hydrological

  Disaster Type Disaster Subtype External IDs Event Name  ISO  ...  \
0       Drought          Drought          NaN        NaN  DJI  ...
1       Drought          Drought          NaN        NaN  SDN  ...
2       Drought          Drought          NaN        NaN  SOM  ...
3          Road             Road          NaN        NaN  AGO  ...
4         Flood   Riverine flood          NaN        NaN  AGO  ...

  Reconstruction Costs ('000 US$) Reconstruction Costs, Adjusted ('000 US$)  \
0                             NaN                                       NaN
1                             NaN                                       NaN
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN

  Insured Damage ('000 US$) Insured Damage, Adjusted ('000 US$)  \
0                       NaN                                 NaN
1                       NaN                                 NaN
2                       NaN                                 NaN
3                       NaN                                 NaN
4                       NaN                                 NaN

  Total Damage ('000 US$) Total Damage, Adjusted ('000 US$)        CPI  \
0                     NaN                               NaN  58.111474
1                     NaN                               NaN  56.514291
2                     NaN                               NaN  56.514291
3                     NaN                               NaN  56.514291
4                 10000.0                           17695.0  56.514291

                                         Admin Units  Entry Date  Last Update
0  [{"adm1_code":1093,"adm1_name":"Ali Sabieh"},{...  2006-03-01   2023-09-25
1  [{"adm1_code":2757,"adm1_name":"Northern Darfu...  2006-03-08   2023-09-25
2  [{"adm1_code":2691,"adm1_name":"Bay"},{"adm1_c...  2006-03-08   2023-09-25
3                                                NaN  2004-10-27   2023-09-25
4  [{"adm2_code":4214,"adm2_name":"Baia Farta"},{...  2005-02-03   2023-09-25

[5 rows x 46 columns]